body {
    font-family: Arial;
    font-size: 0.95em;
    color: #232323;
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float
{
    clear: both;
}

#formContainer {
    max-width: 560px;
    margin: 25px auto 70px;
}

#paymentForm {
    padding: 25px;
    border: #D0D0D0 1px solid;
    border-radius: 4px;
    margin: 0 auto;
}

#paymentForm .field-row {
    margin-bottom: 20px;
}

#paymentForm div label {
    margin: 5px 0px 0px 0px;
    color: #49615d;
    width: auto;
}

.product {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.help-text {
    font-size: 8px;
}

.product-row {
    padding: 30px 0px;
    font-size: 1.2em;
}

.sub-head {
    margin: 45px 0px 25px 0px;
    font-size: 1.1em;
    color: #232323;
}

.demoInputBox {
    padding: 10px;
    border: #d0d0d0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.field-row.col2 {
    width: 48%;
    display: inline-block;
}

.demoSelectBox {
    padding: 10px;
    border: #d0d0d0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
    margin-top: 5px;
}

select.demoSelectBox {
    height: 38px;
    margin-right: 10px;
    width: 45%;
}

.info {
    font-size: .8em;
    color: #FF6600;
    letter-spacing: 2px;
    padding-left: 5px;
}

.btnAction {
    background-color: #586ada;
    padding: 10px 40px;
    color: #FFF;
    border: #5263cc 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.btnAction:focus {
    outline: none;
}

.column-right {
    margin-right: 6px;
}

.contact-row {
    display: inline-block;
}

.cvv-input {
    width: 66px;
}

.info {
    font-size: .8em;
    color: #FF6600;
    letter-spacing: 2px;
    padding-left: 5px;
}

#loader {
    display: none;
}

#loader img {
    width: 45px;
    vertical-align: middle;
}

#token {
    clear: both;
}

#error-message {
    margin: 20px 0px 0px;
    background: #ffd6d6;//light pink
padding-left: 30px;
    padding:10px;
    line-height: 25px;
    font-size: 0.9em;
    color: #907575;//blackish red
border: #ca3e3e 1px solid;//brown
border-radius: 4px;
    display:none;
}

/* PAYMENT RESPONSE */
#response-container {
    max-width: 500;
    margin: 60px auto;
    text-align: center;
}

p.payment-response-1 {
    font-size: 2em;
}

p.payment-response-2 {
    font-size: 1em;
}

.purchase-detail {
    text-align: left;
    border-top: #e9e9e9 1px solid;
    overflow: auto;
    margin: 25px 25px 45px 25px;
    background: #fcfcfc;
}

.col-name {
    width: 50%;
    float: left;
    background: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: #e9e9e9 1px solid;
}

.col-value {
    width:50%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: #e9e9e9 1px solid;
}

a.continue-shopping {
    text-decoration: none;
    border: #232323 1px solid;
    color: #232323;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
}